# Byte-compiled / optimized / DLL files
__pycache__/
.vs/
.vscode/
plug-ins/dev/cpp/build
core/_studies/testMayaPyExtension
core/_studies/RigAPI

# Extensions
*.pyc

# C++ Builds
build
gfTools_Windows
gfTools_Linux
gfTools_Darwin