# Byte-compiled / optimized / DLL files
__pycache__/
.vs/
.vscode/
plugin/maya/dev/cpp/build
core/_studies/testMayaPyExtension
core/_studies/RigAPI

# Design
*.ttf
*.otf
*.eps
*.ai
*.svg
*.png

# gfTools tools
tools/maya/gfUtilitiesBelt/core/mayaData
tools/maya/gfUtilitiesBelt/core/*.json
tools/maya/gfUtilitiesBelt/pockets/*.gfpocket

# Extensions
*.pyc

# C++ Builds
build
gfTools_Windows
gfTools_Linux
gfTools_Darwin